export NODE_OPTIONS=--enable-source-maps

# App ports
# If you change these, also change them in
# webapp/local/app_config.js
export FRONTEND_PORT=12345
export HTTP_PORT=18080
export WS_PORT=18081
export AUTH_PORT=8082

# End-to-end tests
export CYPRESS_BASE_URL="http://localhost:$FRONTEND_PORT"

# command -v assures that PATH_add is only executed when sourced from direnv
if command -v PATH_add &> /dev/null; then
    PATH_add "$PWD/scripts"
fi

export ENVRC_LOADED=1
echo "Successfully loaded .envrc"

# Source local environment, mostly secrets
# Variables set in this file may be overridden, e.g. AWS secrets
if [[ -f .envrc.local ]]; then
  source .envrc.local
fi

