# Don't add any credentials here!
#
# This is an example for `.envrc.local`. 
# To add credentials for local development, make a copy of this file and name it `.envrc.local`.
# `.envrc.local` is in `.gitignore` and therefore can't be accidentally commited.

# If you use nix, you can run the nix-shell automatically with the following command
if command -v nix &> /dev/null
then
    use nix
    # you can add parameters to the nix-shell as well, e.g.
    # use nix --command zsh
    
    # if you use lorri, replace `use nix` with (see https://github.com/nix-community/lorri)
    # eval "$(lorri direnv)"
fi

echo "Successfully loaded .envrc.local"
